@model Models.Pessoa

@{
    ViewData["Title"] = "Pessoa";
}
<div style="text-align: center; margin-top:60px">

<h1>Detalhes</h1>

	<div style="padding-top:20px">
		<dl class="row justify-content-md-center">
			<dt class="col-sm-6" style="text-align:right">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
			<dd class="col-sm-6" style="text-align:left">
            @Html.DisplayFor(model => model.Nome)
        </dd>
			<dt class="col-sm-6" style="text-align:right">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
			<dd class="col-sm-6" style="text-align:left">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
			<dt class="col-sm-6" style="text-align:right">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
			<dd class="col-sm-6" style="text-align:left">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
			<a asp-action="Index"  class="col-sm-6" style="text-align:right">Voltar</a>
			<a asp-action="Edit" asp-route-id="@Model.Id" class="col-sm-6" style="text-align: left">Editar</a>
    </dl>
</div>
</div>
