@model GeradorDeRotas.Models.Equipe

@{
	ViewData["Title"] = "Details";
}

<div style="text-align: center; margin-top:60px">
	<h3>Detalhes</h3>

	<div style="padding-top:20px">
		<dl class="row">
			<dt class="col-sm-6" style="text-align:right">
				Nome da Equipe
			</dt>
			<dd class="col-sm-6" style="text-align:left">
				@Html.DisplayFor(model => model.NomeEquipe)
			</dd>
			<dt class="col-sm-6" style="text-align:right">
				@Html.DisplayNameFor(model => model.Cidade)
			</dt>
			<dd class="col-sm-6" style="text-align:left">
				@Html.DisplayFor(model => model.Cidade)
			</dd>
			<dt class="col-sm-6" style="text-align:right">
				@Html.DisplayNameFor(model => model.Servico)
			</dt>
			<dd class="col-sm-6" style="text-align:left">
				@Html.DisplayFor(model => model.Servico)
			</dd>
			<dt class="col-sm-6" style="text-align:right">
				@Html.DisplayNameFor(model => model.Pessoas)
			</dt>
			<div style="padding-left:15px">
				@foreach (var item in Model.Pessoas)
				{
					<dd style="text-align:left">
						@Html.DisplayFor(modelItem => item.Nome);
					</dd>
				}
			</div>
			<a asp-action="Index"  class="col-sm-6" style="text-align:right">Voltar</a>
			<a asp-action="Edit" asp-route-id="@Model.Id" class="col-sm-6" style="text-align: left">Editar</a>
		</dl>
	</div>
</div>
