@model IEnumerable<Models.Equipe>

@{
	ViewData["Title"] = "Index";
}
<div style="text-align: center">
	<h2>Equipe</h2>

	<p>
		<a asp-action="Create">Criar nova Equipe</a>
	</p>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				Nome da equipe
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cidade)
			</th>
			<th>
				Serviço
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.NomeEquipe)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cidade)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Servico)
				</td>
				<td style="color: #ff6f9c">
					<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
					
					<button class="btn btn-primary" onclick="confirmDelete('@item.Id')">Deletar</button>
				</td>
			</tr>
		}
	</tbody>
</table>



@section Scripts {
<script src="~/js/deleteEquipe.js"></script>
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
